@{
    ViewBag.Title = "Miachyna";
}

<main class="container">
    <h1>@ViewData["LabTitle"]</h1>
    <h2>List</h2>
    <ol>
        @for (int i = 1; i <= 5; i++)
        {
            <li>List element @i</li>
        }
    </ol>
    <hr />
    <h2>Form</h2>
    @model SelectList
    <form role="form" method="post" asp-action="index">
        <div class="row" mb-3>
            <div class="col-sm-10 offset-sm-2">
                <select class="form-select" asp-items="Model" name="selDemo"></select>
            </div>
        </div>
        <div class="form-group row mb-3">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1" name="check1">
                    <label class="form-check-label" for="gridCheck1">Check-Box 1</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck2" name="check2">
                    <label class="form-check-label" for="gridCheck2">Check-Box 2</label>
                </div>
            </div>
        </div>
        <div class="form-group row mb-3">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="first">
                    <label class="form-check-label" for="gridRadios1">First radio</label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="second">
                    <label class="form-check-label" for="gridRadios2">Second radio</label>
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="third">
                    <label class="form-check-label" for="gridRadios3">Third radio</label>
                </div>
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Input Email">
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Input Password">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</main>