@{
    var controller = ViewContext.RouteData.Values["controller"]?
    .ToString()?
    .ToLower()
    ?? String.Empty;
}

<!-- Меню сайта -->
<a class="navbar-brand" href="#">Miachyna A.V.</a>
<div class="navbar-nav">
    <a class="nav-item nav-link active" asp-controller="Home" asp-action="Index">LAB 09</a>
    <a class="nav-item nav-link" asp-controller="Product" asp-action="Index">Catalog </a>
    <a class="nav-item nav-link" asp-area="Admin" asp-page="/Index">Administration</a>
</div>
<!-- Меню сайта - конец -->
